.main-container{
    padding-top:15vh;
    height: 92vh;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.block-btn img{
    display: block;
}

#table-container{
    width:80%;
    height:70vh;
    max-height: 70vh;
    overflow-y:auto;
    border:2px solid lightgray;
    margin-bottom: 5%;
    padding:10px;
}
.report-status span{
    width:100%;
    display: inline-block;
}

table{
    width:100%;
    text-align: center;
}
.delete-btn,.block-btn,.activate-btn{
    background-color: transparent;
    border-style: none;
    border-radius: 20px;
    padding:5px;
    cursor: pointer;
}
.delete-btn:hover,.block-btn:hover{
    box-shadow: 0px 0px 3px 2px lightgrey;
}

#user-functions{
    width:100%;
    text-align: center;
}
.print-btn{
    padding:5px;
    border-style:none;
    font-size:120% ;
    color:white;
    width:30%;
    cursor:pointer;
    background-color: var(--active-blue);
    transition:all 0.5s ease-in;
}

.print-btn:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px lightgrey;
}